body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
.flex{
  display: left;
  text-align: center;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
.col{
  color: #e8491d;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  text-align:center;
  color:#df2b2b;

}
#dam img{
  width: 100%;
  height:300px;
}
#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  
}

#showcase p{
  font-size:20px;
}
#dam{
  min-height:400px;
  text-align:center;
  color:#df2b2b;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}
#newsletter1{
  padding:15px;
  color:#ffffff;
  background:#20485e
}
.newsletter2{
  background-color: #f4f4f4;
  display: left ;
  text-align: center;
  padding: 5px;
}
.newsletter3{
  background-color: #35424a;
  display : left ;
  text-align: center;
  padding: 5px;
}
/* Ligações */
.LastItem {
  text-decoration: none;
  color: white;
}

.LastItem:hover {
  text-decoration: none;
  color: black;
}
.ot{
  float: right;
}
/* botões */
#a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

#a:hover {
  background-color:#0a89c9;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #e8491d;
  color: white;
}

.round {
  border-radius: 50%;
}
/* BOTAO QUEM SOMOS */
.button{
  
  border: none;
  color: rgb(19, 16, 16);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #f4f4f4;
  border: 2px solid #e8491d;

}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #f4f4f4;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bot{
  display: left ;
  text-align: center;
  padding: 5px;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* #newsletter h1{
  float:left;
} */

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* "caixas" */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:250px;
}
#bor{
  float: left;
  width: 30%;
  padding: 3px;
  border: 10px;
  align-items:center;
  margin: 10px;
}
#bor img{
  height: 350px;
  width: 300px;
}
/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Serviços */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }
}
#columnl {
  float: left;
  width: 33.33%;
  height: 250px; 
  text-align: center;
  padding-top: 5px;
}
#columnla {
  display: left;
  text-align: center;
  width: 100%;
  padding: 5px;
  height: 50px; 
}

.columnlb:hover{
  background-color: green !important;
}
.columnlb {
  float: left;
  width: 33.33%;
  height: 250px; 
  text-align: center;
  padding-top: 5px;
}
/* .a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.a:hover {
  background-color:#0a89c9;
  color: black;
} */

